{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <nav>
        <div class="navbar-fixed nav-wrapper teal">
            <div class="container">
                <a href="#" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="">About</a></li>
                    <li><a href="#" class="">Support</a></li>
                    <li><a href="#" class="">Contact</a></li>
                    <li><a href="#" class="">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {#Left Menu Start#}
            <div class="col s12 m2 l3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Hello User!</div>
                    </div>
                    <ul class="collection">
                        <li class="collection-item"><a style="color: teal"
                                                       onclick="makeDonateAjaxCall()"><b>Donate!</b></a></li>
                        <li class="collection-item"><a style="color: teal"
                                                       onclick="makeProfileAjaxCall()">Profile</a></li>
                        <li class="collection-item"><a style="color: teal"
                                                       onclick="makeHistoryAjaxCall()">History</a></li>
                        <li class="collection-item"><a style="color: teal"
                                                       onclick="makeSettingsAjaxCall()">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
            {#Left Menu End#}

            {#Right Body Start#}
            <div class="col s12 m10 l9" id="right-body">
                {% include 'DonorBundle:Ajax:donate.html.twig' %}
            </div>
            {#Right Body End#}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function makeDonateAjaxCall() {
            $.post('{{ path('donate') }}', {}, function (response) {
                if (response.code == 100 && response.success) {
                    document.getElementById('right-body').innerHTML = response.content;
                }
            }, "json");
        }

        function makeProfileAjaxCall() {
            $.post('{{ path('profile') }}', {}, function (response) {
                if (response.code == 100 && response.success) {
                    document.getElementById('right-body').innerHTML = response.content;
                }
            }, "json");
        }

        function makeHistoryAjaxCall() {
            $.post('{{ path('history') }}', {}, function (response) {
                if (response.code == 100 && response.success) {
                    document.getElementById('right-body').innerHTML = response.content;
                }
            }, "json");
        }

        function makeSettingsAjaxCall() {
            $.post('{{ path('settings') }}', {}, function (response) {
                if (response.code == 100 && response.success) {
                    document.getElementById('right-body').innerHTML = response.content;
                }
            }, "json");
        }
    </script>
{% endblock %}
